<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../static/admin.css">
    <title>Get Admin Email</title>
</head>
<body>
    <h1>Get Admin Email</h1>

    <p>Use the following links to get the admin email:</p>
    
    <ul>
        <li><a href="/get_admin_mail/admin">Get Admin Email</a></li>
        <br>
        <li><a href="/get_admin_mail/some_other_value">Try with Other Value</a></li>
    </ul>
    <p>Please <a href="/home">  click here  </a> to go to return to home page.</p> 

</body>
</html>
