<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../static/admin.css">
    <title>Admin Page</title>
</head>
<body>
    <h1>Admin Page</h1>
    
    <ul class="admin-info">
        <li>Email: name_admin@email.com</li>
        <li>Important info from admin: This is a top-secret message, shh!</li>
        
    </ul>
    
    <p>Please <a href="/home">click here</a> to return to the home page.</p> 
</body>
</html>
