<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../static/getUsers.css">

    <title>Get Users</title>
</head>
<body>

    <h1>Get DNS</h1>

    <form id="getUsersForm">
        <label for="hostname">Hostname:</label>
        <input type="text" id="hostname" name="hostname" required>
        <button type="button" onclick="getUsers()">Search</button>
        <a href="/home"><button type="button">Back</button></a>
    </form>

    <div id="result"></div>

    <script>
        function getUsers() {
            var hostname = document.getElementById("hostname").value;
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/get_users?hostname=" + encodeURIComponent(hostname), true);

            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var responseData = JSON.parse(xhr.responseText);
                    var message;
                    if (responseData.status === "success") {
                        message = "DNS Lookup Successful:<br><pre>" + responseData.result + "</pre>";
                    } else {
                        message = "Error:<br>" + responseData.message;
                    }
                    document.getElementById("result").innerHTML = message;
                }
            };
            xhr.send();
        }
    </script>

</body>
</html>
