<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./../static/login.css">
    <title>Login Page</title>
</head>
<body>
    <h1>Login Form</h1>
    <form id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <button type="button" onclick="submitForm()">Submit</button>
        <a href="/home"><button type="button">Back</button></a>
    </form>

    <p id="result"></p>

    <script>
        function submitForm() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, password })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').innerText = data.result;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>

</body>
</html>
