<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../static/home.css">
    <title>Main Page of Project</title>
</head>
<body>
    <form action="/home">
        <h1>Explore the application's vulnerabilities:</h3>
        
        <p>Welcome to our Portal of Cybersecurity Exploration! This website provides a secure and controlled environment designed for understanding various vulnerabilities in web applications. Explore the functionalities and learn about potential security risks in a safe educational space.</p>

        <p><a href="login">Login Page:</a> Test your authentication skills by exploring our login page. Discover how improper practices can lead to vulnerabilities.</p>          

        <p><a href="hello">Hello Page:</a> Interact with the greeting functionality to better understand how user input can be manipulated.</p> 
        
        <p><a href="getUsers">Get Users Page:</a> Investigate how confidential information can be accessed through request manipulation.</p>         
        
        <p><a href="upload">Upload Page:</a> Experience the security of the upload functionality and understand the risks associated with file manipulation.</p> 
        

        <p>Remember: This platform is intended for educational purposes only. Please use your knowledge responsibly and ethically.</p>
    </form>
</body>
</html>
