body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 50px;
}

h1 {
    color: #336699;
}

.admin-info {
    list-style-type: none;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
}

.admin-info li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.admin-info li:last-child {
    border-bottom: none;
}

a {
    color: #336699;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
