body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1,p {
    color: #333;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

li {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
